Document/n8n_workflow_invitar_usuario.json
{
  "name": "INFODETS - Invitar Usuario",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invitar-usuario",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "invitar-usuario"
    },
    {
      "parameters": {
        "fromEmail": "noreply@infodets.gob.ar",
        "toEmail": "={{ $json.body.email }}",
        "subject": "Bienvenido a INFODETS — Activa tu cuenta",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial, sans-serif; background: #f4f6f9; margin: 0; padding: 0; }\n    .container { max-width: 560px; margin: 40px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.08); }\n    .header { background: #1c7ed6; padding: 32px; text-align: center; }\n    .header h1 { color: #ffffff; margin: 0; font-size: 24px; letter-spacing: 1px; }\n    .body { padding: 32px; }\n    .body p { color: #444; line-height: 1.6; margin: 0 0 16px; }\n    .btn { display: inline-block; background: #1c7ed6; color: #ffffff !important; text-decoration: none; padding: 14px 32px; border-radius: 6px; font-weight: bold; font-size: 15px; margin: 16px 0; }\n    .info-box { background: #f0f4ff; border-left: 4px solid #1c7ed6; padding: 12px 16px; border-radius: 4px; margin: 16px 0; }\n    .info-box p { margin: 4px 0; font-size: 13px; color: #555; }\n    .footer { background: #f4f6f9; padding: 20px 32px; text-align: center; }\n    .footer p { color: #999; font-size: 12px; margin: 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>INFODETS</h1>\n    </div>\n    <div class=\"body\">\n      <p>Hola <strong>{{ $json.body.nombre }}</strong>,</p>\n      <p>Un administrador ha creado tu cuenta en el sistema <strong>INFODETS</strong> — Plataforma de Gestión de Conocimiento Institucional.</p>\n      <p>Para activar tu acceso, hacé clic en el botón y registrate con este mismo email (<strong>{{ $json.body.email }}</strong>):</p>\n      <div style=\"text-align: center;\">\n        <a href=\"{{ $json.body.login_url }}\" class=\"btn\">Activar mi cuenta</a>\n      </div>\n      <div class=\"info-box\">\n        <p><strong>Email:</strong> {{ $json.body.email }}</p>\n        <p><strong>Rol asignado:</strong> {{ $json.body.rol }}</p>\n      </div>\n      <p>Si el botón no funciona, copiá y pegá este link en tu navegador:</p>\n      <p style=\"word-break: break-all; font-size: 12px; color: #888;\">{{ $json.body.login_url }}</p>\n      <p>Si no esperabas este email, podés ignorarlo.</p>\n    </div>\n    <div class=\"footer\">\n      <p>INFODETS &mdash; Sistema de Gestión de Conocimiento Dinámico</p>\n      <p>Este es un mensaje automático, no respondas este email.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-node",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"email\": \"{{ $('Webhook').item.json.body.email }}\" }",
        "options": {}
      },
      "id": "response-node",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email": {
      "main": [
        [
          {
            "node": "Respuesta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["infodets", "usuarios"]
}
